body {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 5px;
    flex-direction: …;
}

.chat-container {
    max-width: 50%;
    width: 50%;
    height: 50%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

#chat-form {
    display: flex;
}